* {
  box-sizing: border-box;
}
html{
    background-image: url('\images\entrance.png');
}

header{
    width:100%;
    background-color:#77A0E8;
    padding: 20px;
    margin: 0px;
    height: 95px;
}
h1.logo{
    display:inline-block;
    float:left;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
   
    background-color: #f1f1f1;
}
nav li{
	float:right;
    }

nav li a {
    display:inline;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    text-align:center;
}

/* Change the link color on hover */
nav li a:hover {
    background-color: #555;
    color: white;
    
}
.line{
    height: 200px;
    width: 100%;

}
section.intro{
    background-color: blue;
}
section.features{
    background-color: green;
}
section.friends{
    background-color: gray;
}
.teams h2{
    text-align: center;
    display: inline-block;
}
.signup{
    width: 400px;
    height: 400px;
    border: 2px black;
    margin: 0 auto;
    color: white;
    font-style: italic;
    font-size: 20px;
    background: #778899;

}
.signup ul{
    list-style: none;
    text-align: center;
}

.signup h2{
    text-align: center;
}
.buttons:hover{
    background-color: blue;
    color:white;
   
}
.buttons{
     margin:0 auto;
}
.js-hidden{
   display:none; 
}
.hide{
    display: none;
}
